<div class='thankyou container'>
	<h2>Frequetly Asked Questions</h2>
	<div class='row'>
      <div class='col-md-6'>
        <div class='faq-circle'>
          <h4>WHAT IS SOX N BOX?</h4>
          <p>Soxy is a sock subscription service that sends you 5 pairs of awesomely stylish socks every month.</p>
				</div>
				<div class='faq-circle'>
          <h4>HOW DO I CANCEL?</h4>
  
          <p>Cancellations are easy. You can cancel your subscription by sending us an email to hello@soxy.com</p>
        </div>

        <div class='faq-circle'>
          <h4>SHIPPING POLICY</h4>

          <p>Shipping is free. Your 5 pairs of socks typically arrive in 2-7 business days after your purchase and get you looking good for the month.</p>
				</div>
				<div class='faq-circle'>
          <h4>DO I HAVE TO SUBSCRIBE?</h4>
          <p>No, you can purchase Sox n Box on a month-to-month basis. Simply select the single order on the pricing page dropdown.</p>
        </div>
       </div>
      <div class='col-md-6'>
      	    <div id="disqus_thread"></div>
      </div>
    </div>
</div>
<script type="text/javascript">
      var disqus_shortname = 'socknbox';  
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
</script>