<div class='thankyou container'>
	<h2>Ask a Question</h2>
	<div class='row'>
      <div class='col-md-6'>
          <div id="disqus_thread"></div>
      </div>
      <div class='col-md-6'>
      <div id='faq'>
        <div class='faq-circle'>
          <h4>What is Sock and Box?</h4>
          <p>Sock & Box is a sock subscription service that sends you a pair of awesomely stylish socks every month.</p>
				</div>
				<div class='faq-circle'>
          <h4>How do I cancel?</h4>
          <p>Cancellations are easy. You can cancel your subscription by sending us an email to hello@sockandbox.com</p>
        </div>

        <div class='faq-circle'>
          <h4>Shipping Policy</h4>
          <p>Shipping is free. Your pair of socks typically arrive in 5-10 business days after your purchase and get you looking good for the month.</p>
				</div>

        <div class='faq-circle'>
          <h4>What if I change my address? </h4>
          <p>Send us an email with the subject line "Address Change" to hello@sockandbox.com and your address and we'll change it free of charge. </p>
        </div>
       </div>
       </div>
    </div>
</div>
<script type="text/javascript">
      var disqus_shortname = 'socknbox';  
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
</script>