
<section id='instagram' class='bg7'>
  <div class='container text-center'>

    <br>
    <h2 style='font-size: 4em;' class='text-center'>You can't afford <i>not</i><br> to look this good</h2>
    <br>
    <h3>Each month we give away free socks to subscribers who earn the most likes over Instagram.</h3>
     <h3><a style='text-decoration: none; color: white;' href="/instas/new" class='btn btn-success btn-lg'>Find Out How</a> </h3>
    <br>
    <div class='row text-left'>
      <div class='col-md-4'>
        <div class='insta-card'>
          <h3>hurley87</h3>
          <div class='sock-list insta1'>

          </div>
          <hr>
          <h3><i class='fa  fa-heart'></i> 56 likes</h3>
          <hr>
          <h4>@soxnbox is the best! #imsofancy #mensfashion</h4>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='insta-card'>
          <h3>gordo</h3>
          <div class='sock-list insta2'>
          </div>
          <hr>
          <h3><i class='fa  fa-heart'></i> 34 likes</h3>
          <hr>
          <h4>@soxnbox just arrived today #imsofancy #ladieslikethis</h4>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='insta-card'>
          <h3>uclJck</h3>
          <div class='sock-list insta3'>
          </div>
          <hr>
          <h3><i class='fa  fa-heart'></i> 28 likes</h3>
          <hr>
          <h4>Everyone should check out @soxnbox. #imsofancy #bieber </h4>
        </div>
        <br>
      </div>
    </div>
   
  </div>
</section>
<div class='thankyou'>
	<h1 class='text-center'>Leaderboard</h1>
<% if @users  %>	
	<% @users.each do |user| %>
		<div class='insta-card'>
		  <h3><%= user.nickname %></h3>
		  <div class='sock-list'>
		  
		  </div>
		  <hr>

		  <hr>
		  <h4>@soxnbox just arrived today #imsofancy #ladieslikethis</h4>
		</div>
	<% end %>
<% end %>
</div>

