<div class='thankyou'>
	<h1 class='text-center'>Leaderboard</h1>
<% if @users  %>	
	<% @users.each do |user| %>
		<div class='insta-card'>
		  <h3><%= user.nickname %></h3>
		  <div class='sock-list'>
		  
		  </div>
		  <hr>

		  <hr>
		  <h4>@soxnbox just arrived today #imsofancy #ladieslikethis</h4>
		</div>
	<% end %>
<% end %>
</div>

