<div class='container'>
	<br>
	<br>
	<br>
	<h1 class='text-center'>PRIVACY POLICY</h1>
	<hr>
	<p>Soxnbox.com has developed this privacy policy to let you know how we collect and use the personal information you provide us with while visiting our website (the "Site") If you do not agree with this policy, please do not use this Site. Your continued use of our Site following the posting of changes to these terms will mean you accept those changes. Soyy reserves the right, as its sole discretion, to change, modify, add, or remove portions of this policy at any time.</p>
	<br>
	<h3>INFORMATION WE COLLECT</h3>
	<br>
	<p>We collect personal identifying information that you provide to us when you register on the site ("Member"). If you make a purchase from us, we request personal identifiable information from you on our order form. You must provide contact information (including name, telephone number, email, and shipping address) and financial information (such as credit card number and its expiration date.)
We use this information for billing purposes and to fulfill your orders. If we have trouble processing an order, we will use this information to contact you. For your privacy, we do not store your credit card information.</p>
	<br>
	<h3>SECURITY</h3>
	<br>
	<p>Soxnbox.com respects your personal privacy and we take all appropriate steps to keep your personal information confidential and secure. We use the Secure Sockets Layer (SSL) protocol to safeguard your information when orders are processed. uses security measures in order to protect customers from the loss, misuse and alteration of any information under our control. We follow the industry standards to protect your personal information during transaction. No method of transmission over the internet is 100% secure, however, we make all the reasonable efforts to use commercially acceptable means to protect your information.</p>
<br>
<h3>USE OF PERSONAL INFORMATION COLLECTED</h3>
<br>
<p>We may use the personal information we gather from you when you register, purchase products surf the website, or use other site features. The personal information you provide to us will also be added to our database and used for future communications regarding new products, features, or promotions (you may choose to opt-out of our newsletters). The use of your information is to allow us to better service you with customer service requests, quickly process your transactions, and personalize your site experience. This data is strictly for internal purposes only. We never sell or rent your information to anyone.
Sox and Box reserves the right to disclose information about you as required by law, in response to legal process and law enforcement requests, and as necessary to protect the property, interests and rights of Soxy, its affiliates, and others.</p>
<br>
</div>
<style type="text/css">
	body {
		background-color: white;
		color: black;
	}
</style>