<table width="100%" cellspacing="0" cellpadding="0">
<tr>
<td align="center" valign="top" style="padding: 0px; color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
<table width="580" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" class="table-centered" style="margin: 0 auto;">
<tr>
<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
	
<!-- Header -->
<table border="0" cellspacing="0" cellpadding="0" class="header" style="background-color: #0a3542; width: 580px;">
	<tr>
		<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left;">&nbsp;</td>
	</tr>
	<tr> 
		<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
			<table border="0" cellspacing="0" cellpadding="0" class="header" style="background-color: #0a3542; width: 580px;">
				<tr>
					<td class="header-text" style="color: #f37453; font-family: Arial, Helvetica, sans-serif; font-size: 30px; padding: 10px; line-height: 28px; font-weight: bold; text-align: center;">
						Give your patients
					</td>
				</tr>
				<tr>
					<td class="header-text" style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding: 10px; line-height: 28px; font-weight: bold; text-align: center;">
						Give your patients the tools to recognize 
						and	prevent HE recurrences.
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="header-divider">
	
		<tr>
			<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 12px; text-align: left; background-color: #f37453; width: 580px;">&nbsp;</td>
		</tr>
		<tr>
			<td><img style='display: block;' src="images/photo8.jpg"></td>
		</tr>
		<tr>
			<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 12px; text-align: left; background-color: #f37453; width: 580px;">&nbsp;</td>
		</tr>
</table>

<!-- Body -->
<table border="0" cellspacing="0" cellpadding="0" style='background-color: #0a3542;'>
	<tr>
		<td class="left-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 39px;"></td>
		<td class="content" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 550px;">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="padding-large" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						Catch HE recurrences early by making patients and caregivers aware of its symptoms.
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; color: white;">
						HE can be a chronic, serious disease&#8212;patients often experience the debilitating symptoms in between regular office visits. 
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; color: white;">
						It's important to equip patients and caregivers with the tools to recognize these symptoms on their own. Ask them to contact you as soon as they observe any HE symptoms, so you can intervene before a patient's condition worsens.
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td class="padding-large" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px; text-align: left;">&nbsp;</td>
				</tr>
			</table>
			<table border="0" cellspacing="0" cellpadding="0">
				
				<tr>
					<td><img src="images/happysocks2.png"></td>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						Catch HE recurrences early by making patients and caregivers aware of its symptoms.
					</td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						Catch HE recurrences early by making patients and caregivers aware of its symptoms.
					</td>
					<td><img src="images/happysocks3.png"></td>
				</tr>
				<tr>
					<td><img src="images/happysocks4.png"></td>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						Catch HE recurrences early by making patients and caregivers aware of its symptoms.
					</td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						Catch HE recurrences early by making patients and caregivers aware of its symptoms.
					</td>
					<td><img src="images/happysocks3.png"></td>
				</tr>
				<tr>
					<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; height: 15px; text-align: left; background-color: #0a3542;">&nbsp;</td>
				</tr>
			</table>
			<table border="0" cellspacing="0" cellpadding="0" style='background-color: #fefbee;'>
				<tr>
					<td style='height: 10px;'></td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; width: 500px; font-size: 26px; text-align: center;">
						Catch HE recurrences 
					</td>
				</tr>
				<tr>
					<td style='height: 10px;'></td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; width: 400px; font-size: 19px; text-align: center; color:  #0a3542;">
						Catch HE recurrences early by making patients and caregivers aware of its symptoms.Catch HE recurrences early by making patients and caregivers aware of its symptoms.
					</td>
				</tr>
				<tr>
					<td style='height: 10px;'></td>
				</tr>
				<tr>
					<td>
						<table border="0" cellspacing="0" cellpadding="0" style='background-color: #0a3542;' align='center' width='200'>
							<tr><td style='height: 10px;'></td></tr>
							<tr>
								<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; font-size: 26px; text-align: center;">
						<a style='color: #f37453; text-decoration: none;' href="http://www.sockandbox.com">subscribe</a>
								</td>
							</tr>
							<tr><td style='height: 10px;'></td></tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style='height: 15px;'>&nbsp;</td>
				</tr>
			</table>
		</td>
		<td class="right-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 36px;">&nbsp;</td>
	</tr>
</table>

<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="left-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 39px;"></td>
		<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
			

			<!-- CTA Buttons -->
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
						<table border="0" cellspacing="0" cellpadding="0" style="width: 580px; height: 75px; background-color: #b6bd00; " bgcolor='#b6bd00'>
							<tr>
								<td style='background-color: #4b6daa; width: 50px;'>&nbsp;&nbsp;<img height='40' src="images/facebook.png"></td>
								<td style='background-color: #4b6daa; color: white; text-align: left; font-size: 16px;' >Any Questions or Concerns? Find on on Facebook.</td>
							</tr>	
						</table>
					</td>
				</tr>
				<tr>
					<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left; background-color: #0a3542;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
						<table border="0" cellspacing="0" cellpadding="0" style="width: 580px; height: 75px; background-color: #47403a; " bgcolor='#b6bd00'>
							<tr>
								<td style='background-color: #82ddf2; width: 50px;'>&nbsp;&nbsp;<img height='40' src="images/twitter.jpg"></td>
								<td style='background-color: #82ddf2; color: white; text-align: left; font-size: 16px;' >Have a quick question or need a laugh? Follow us on Twitter.</td>
							</tr>	
						</table>
					</td>
				</tr>
				<tr>
					<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left; background-color: #0a3542;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; background-color:  #47403a; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
						<table border="0" cellspacing="0" cellpadding="0" style="width: 503px; height: 75px; " >
							<tr>
								<tr>
								<td style='background-color: #47403a; width: 50px;'><img height='40' src="images/insta.jpg"></td>
								<td style='background-color: #47403a; color: white; font-size: 16px;' >Gain followers and earn free socks.</td>
							</tr>
							</tr>	
						</table>
					</td>
				</tr>
				<tr>
					<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left; background-color: #0a3542;">&nbsp;</td>
				</tr>
			
		</td>
		<td class="right-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 36px;"></td>
	</tr>
</table>

</td>
</tr>
</table>
</td>
</tr>
</table>