
<div class='thankyou'>

  <div class='container'>
    <br>
    <br>
    <div class='insta-cta'>
      <ol>
        <li><p class='lead'>subcribe to sock and box!</p></li>
        <li><p class='lead'>come up with a creative Instagram post using the #fancyasfuck hashtag</p></li>
        <li><p class='lead'>verify your Instagram account with us</p></li>
        <li><p class='lead'>Each month subscribers with the most likes win a free pair of socks.</p> </li>
        
      </ol>
      <br>
      <p class='text-center'><a style="font-size: 1.5em;"  id='insta-signin' class='btn'> <i class='fa fa-instagram fa-2x'></i> add a photo</a></p>
      <br class='clear'>
    </div>
  </div>
</div>

<script src="https://cdn.auth0.com/w2/auth0-widget-5.2.min.js"></script>
<script type="text/javascript">
  var widget = new Auth0Widget({
    domain:         'dhurls99.auth0.com',
    clientID:       'snHqvok95wKwMgaZmC4TfsHnjNbPUzk8',
    callbackURL:    'http://www.sockandbox.com/auth/auth0/callback',
    showIcon: false,
     showForgot: false,
     connections: ['instagram']
  });

  $('#insta-signin').on('click', function() {
      widget.signup({ scope: 'openid profile' });
  });
</script>
