/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media (max-width: 900px) {
	h2 {
		margin-top: 60px;
	}
	.content-box {
		width: 100%;
	}
	.sub-left {
		border: none;
	}
	.red-dot1 {
		display: none;
	}
	.red-dot2 {
		display: none;
	}
	.red-dot3 {
		display: none;
	}
	.red-dot4 {
		display: none;
	}
	.red-dot5 {
		display: none;
	}
	.red-dot6 {
		display: none;
	}
	#vid-container {
		width: 90%;
		position: absolute;
		top: 60px;
		left: 20px;
		margin: auto;
		height: 360px !important;
	}
	#heatmap {
		display: none;
	}

	#youtube {
		border: 10px ridge #F9A46C;
	}

	#main-nav #logo h1 {
		color: green;
	}
	.bg1 {
		background-color: white;
		background: none;
	}
	.open-arrow {
		display: none;
	}
	
	#about {
		height: 100%;
	}
	.down {
		padding: none;
	}
	#top {
		height: 100%;
	}
	
	#brand {
		position: fixed;
		top: -10px;
		left: 0;
	}

	#subscribe .content-box {
		width: 100%;
		height: 130%;

	}

	#subscribe .content-box .sub-right, #subscribe .content-box .sub-left {
		border: none;
	}

	#subscribe .content-box .sub-left {
		height: 50%;
		margin-top: -150px;
	}

	footer {
		text-align: center;
	}
}