@import "font-awesome";
@import "bootstrap";

$red: #F04E31;
$orange: #F9A46C;
$blue: #A0D7EF;
$beige: #FEFBEE;
$driod: 'Droid Serif', serif;
$quick: 'Quicksand', sans-serif;

body {
	padding: 0;
	margin: 0;
  font-family: $quick;
}

section {
	height:100vh;
	padding: 500px;
}

.youtube {
	border: 10px ridge $orange;
}

.bg1 { background: image-url("sock1.jpg") no-repeat 50% 0; background-size: cover; }
.bg2 { background-color: $orange; color: white;}
.bg3 { background: image-url("sock2.jpg") no-repeat 50% 0; background-size: cover;  }
.bg4 { background-color: $orange; color: white;}
.bg5 { background-image: image-url("sock3.jpg"); background-size: cover;  background-position: right !important;  }

.bg1, .bg2, .bg3, .bg4, .bg5 {
	height:100vh;
	padding: 0;
	background-attachment: fixed;

	.down {
		position: absolute;
		bottom: 0;
		right: 48%;
		color: $red;
		a {
			color: $red;
		}
	}
}

h2 {
	margin: 0;
	padding-top: 45px;
	padding-bottom: 45px;
	font-family: $driod;
	font-size: 3em;
}

////////////////////////////////////////////
// nav
////////////////////////////////////////////

nav {
	display: inline;
	position: fixed;
	

	h1 {
		text-decoration: none;
		padding-left: 20px;
		font-weight: 800;
		font-family: $driod;
		font-size: 4em;
		letter-spacing: 80%;
	}

	ul {
		list-style: none;

		li {
			padding-top: 25px;
			font-size: 1.5em;

			&:hover {
				border-bottom: 1px ridge $red;
			}
		}
	}

	.scroll-link {
		text-decoration: none;
		color: $red;
	}

}

////////////////////////////////////////////
// about
////////////////////////////////////////////
#about {
	h3 {
		font-family: $driod;
		font-size: 4em;
		padding: 30px;
	}

	p {
		font-size: 2em;
		padding: 0px 200px 0px 200px;
	}
}

////////////////////////////////////////////
// socks
////////////////////////////////////////////
#socks {
	
	padding: 10px;
	font-size: 1.1em;

}

////////////////////////////////////////////
// subscribe
////////////////////////////////////////////

.content-box {
	width: 50%;
	margin: auto;
	border: 10px ridge $orange;
	background-color: $beige;
	padding: 30px;
}

.sub-right {
	padding-left: 25px;
	height: 360px;
	
	input {
		width: 100%;
		padding-right: 20px;
	}

	.btn {
		border: none;
		background-color: $orange;
		color: white;
		padding: 10px;
		text-shadow: none;
	}

	label {
		color: $red;
	}
}
.sub-left {
	border-right: 3px ridge $orange;
	height: 370px;
	h1 {
		padding-top: 45%;
		color: $red;
		vertical-align: middle;
		padding-right: 20px; 
	}
}