@import "font-awesome";
@import "bootstrap";

$red: #F04E31;
$orange: #F9A46C;
$blue: #A0D7EF;
$beige: #FEFBEE;
$driod: 'Montserrat', sans-serif;
$quick: 'Quicksand', sans-serif;

body {
	padding: 0;
	margin: 0;
  font-family: $driod;
  background-color: $orange;
}

.clear {
	clear: both;
}

section {
	height: 110%;
	padding: 500px;
}

#youtube {
	border: 20px solid $orange;
}

#heatmap {
  position: relative;
  right: 250px;
}

#brand a {
	color: $red;
	font-family: $driod;
	text-decoration: none;
}

.bg1 { background: image-url("sock1.jpg") no-repeat 50% 0; background-size: cover; }
.bg2 { background-color: $orange; color: white;}
.bg3 { background: image-url("blue2.jpg") no-repeat 50% 0; color: $red; }
.bg4 { background-color: $orange; color: white;}
.bg5 { background-image: image-url("image3.jpg"); background-position: right !important;  }
.bg6 { background-color: #A0D7EF; color: $orange;}
.bg7 { background-color: $orange; color: white;}

.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7 {
	height: 125%;
	padding: 0;
	background-attachment: fixed;

	.down{
		
		text-align: center;
		border: 10px solid $orange;
		background-color: $orange;

		&:hover {
			transition: all 1s;
			background-color: $red;
			border: 15px solid $red;
			color: $orange;
		}

		a {
			color: white;
			padding: 15px;
			text-decoration: none;
			font-size: 1.5em;
			text-align: center;
		}
	}
}

h2 {
	padding-top: 70px;
	padding-bottom: 5px;
	line-height: 120%;
	font-family: $driod;
	font-size: 3em;
}
.bg6, .bg7  {
	height: 100%;
}



////////////////////////////////////////////
// nav
////////////////////////////////////////////

/*----------------------
----Navigation Styles---
------------------------*/

#buy {
    border: 15px solid $red;
  }




#main-nav .navbar-nav li {
    display:inline-block;
    float:none;
}

#main-nav{
    background:transparent;
    -webkit-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out;
}

#main-nav .navbar-toggle{
    color:$red;
    border-color:$red;
}

#main-nav .navbar-toggle .icon-bar{
    background:$red;
}

#main-nav .container{

    -webkit-transition:padding 0.3s ease-out;
    transition:padding 0.3s ease-out;
}

#main-nav.scrolled .container{
    padding:0;
}

#main-nav .nav a{
    position:relative;
    z-index:1;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover{
    font-size:15px;
    line-height:54px;
    font-weight: 900;
    font-family: $driod;
    text-transform:uppercase;
    background:transparent;
    color:transparent;
}

#main-nav.scrolled .nav a{
    color:inherit; 
}

#main-nav li{
    background:transparent;
    margin:0 20px;
    opacity:0.7;
    vertical-align:middle;
    -webkit-transition:opacity 0.2s ease-out;
    transition:opacity 0.2s ease-out;
}

#main-nav .nav li.active,
#main-nav .nav li:hover{
    opacity:1;
}


#main-nav .nav #logo a:before {
    display:none;
}

#main-nav.scrolled .nav #logo a:hover {
    color: $red;
       -webkit-transition:color .2s ease-out;
    transition:color .2s ease-out;
}

#site-nav {
	color: red;

	a {
		text-decoration: none;
	}
}
////////////////////////////////////////////
// opening
////////////////////////////////////////////
@mixin redDot {
	background-color: $orange;
	position: absolute;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	opacity: 0.2;
	z-index: 1;
	padding-top: 60px;
	text-align: center;
	color: white;
	font-size: 0.4em;
}

@mixin changeSize {
	transition: all 2s;
	background-color: $red;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	opacity: 0.9;
	font-size: 2em;
	padding-top: 70px;
}

.red-dot1 {
	@include redDot;
	top: 100px;
	left: 50px;

	&:hover {
		@include changeSize;
	}
}
.red-dot2 {
	@include redDot;
	top: 100px;
	right: 50px;

	&:hover {
		@include changeSize;
	}
}
.red-dot3 {
	@include redDot;
	top: 400px;
	left: 50px;
	&:hover {
		@include changeSize;
	}
}
.red-dot4 {
	@include redDot;
	top: 400px;
	right: 50px;

	&:hover {
		@include changeSize;
	}
}
.red-dot5 {
	@include redDot;
	top: 250px;
	left: 200px;
	&:hover {
		@include changeSize;
	}
}
.red-dot6 {
	@include redDot;
	top: 250px;
	right: 200px;

	&:hover {
		@include changeSize;
	}
}

////////////////////////////////////////////
// opening
////////////////////////////////////////////
.content-box {
		width: 50%;
		margin: auto;
		border: 10px solid $orange;
		background-color: $beige;
		padding-bottom: 20px;

	}

	.sub-right {
		padding-left: 5%;
		padding-right: 5%;

		.learn-more {
			&:hover {
				padding: 15px;
				background-color: $red;
				transition: all 2s;
			}
			background-color: $orange;
		}
		.btn {
			border: none;
			background-color: $orange;
			color: white;
			padding: 20px 0 20px 0;
			width: 100%;
			text-shadow: none;

			&:hover {
				padding: 15px;
				background-color: $red;
				transition: all 2s;
			}
		}
		p {
			color: $orange;
			font-size: 2em;
			margin: 15px;
		}

	a {
	 	text-decoration: none;
	 }

	}
	.sub-left {
		border-right: 5px solid $orange;
		height: 190px;
			p {
			color: $orange;
			font-size: 1.2em;
		}
		h1 {
			padding-top: 10%;
			color: $red;
			width: 100%;
			font-size: 3em;
		}
	}

	////////////////////////////////////////////
// about
////////////////////////////////////////////	
.about {
	
	height: 100%;

	h3 {
		font-family: $driod;
		font-size: 3.5em;
		padding: 30px;
	}

	h4 {
		font-size: 2em;
	}

	p {

	}

}

.intro {

	padding: 10px;
	color: $blue;
	border: 10px solid $blue;
	background-color: $beige;
	color: $red;

	h2 {
		padding-top: 10px;
		color: $orange;
	}
}

.circle-num {
	margin: auto;
	background-color: $beige;
	font-size: 4em;
	padding-top: 5%;
	color: $red;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 20px solid $blue;
}

.sock-quality {
	margin: auto;
	background-color: white;
	padding-top: 5%;
	color: $blue;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	border: 20px solid $blue;
	background-color: $beige;
	color: $red;

	p {
		width: 75%;
		margin: auto;
		font-size: 1.2em;
	}
}

.sock-list {
	padding: 10px;
	color: $blue;
	border: 10px solid $blue;
	background-color: $beige;
	color: $red;

	p {
		font-size: 1.2em;
		text-align: left;
	}
}

#instagram {

	h3 {
		line-height: 130%;
		padding-left: 5px;
		padding-bottom: 5px;
	}
	

	.insta-cta {
		width: 55%;
		margin: auto;
		text-align: left;
		ol {
			font-size: 2em;
		}	
			li {
				background-color: $beige;
				margin: 10px;
				color: $red;
				padding: 10px;
				border: 15px solid $blue;
				.btn {
			border: none;
			background-color: $orange;
			color: white;
			padding: 20px 0 20px 0;
			width: 100%;
			text-shadow: none;

			&:hover {
				padding: 15px;
				background-color: $red;
				transition: all 2s;
			}
		}
			}
	}
}
////////////////////////////////////////////
// socks
////////////////////////////////////////////
#socks {
	
	height: 100%;
	padding: 10px;
	font-size: 1.1em;

	h3 {
		font-family: $driod;
		font-size: 4em;
		padding: 30px;
	}

}

////////////////////////////////////////////
// subscribe
////////////////////////////////////////////
#subscribe {
	height: 100%;
	color: $orange;
	.content-box {
		width: 90%;
		margin: auto;
		border: 20px solid $orange;
		background-color: $beige;
		padding: 30px;
	}

	.sub-right {
		padding-left: 25px;
		padding-bottom: 25px;
		height: 360px;
		
		input {
			width: 100%;
			padding-right: 20px;
		}

		a {
			border: none;
			background-color: $orange;
			color: white;
			padding: 10px;
			text-shadow: none;
			margin-top: 10px;

			&:hover {
				padding: 15px;
				background-color: $red;
				transition: all 2s;
			}
		}


		label {
			color: $red;
		}
	}
	.sub-left {
		border-right: 10px solid $orange;
		height: 370px;
		h1 {
			padding-top: 45%;
			font-size: 2.5em;
			color: $red;
			vertical-align: middle;
			padding-right: 15px; 
		}
	}	


}

////////////////////////////////////////////
// FAQ
////////////////////////////////////////////

.faq-circle {
	background-color: $beige;
	border: 10px solid $orange;
	margin: auto;
	text-align: left;
	height: 450px;
	padding: 40px 20px 40px 20px;

	h4 {
		padding-bottom: 30px;
		color: $red;
	}
}

////////////////////////////////////////////
// footer
////////////////////////////////////////////
footer .scroll-link {
	text-decoration: none;
	color: white;

	&:hover {
		color: $blue;
	}
}

footer {
	color: white;
	background-color: $orange;
}

footer h3 {
	color: $red;
}

footer .link-times {
	text-decoration: none;
	color: white;

	&:hover {
		color: $blue;
	}
}

.insta1 {
		background-image: image-url("Instagram01.jpg"); background-size: cover;
		height: 300px;
}
.insta2 {
		background-image: image-url("Instagram02.jpg"); background-size: cover;
		height: 300px;
}
.insta3 {
		background-image: image-url("Instagram03.jpg"); background-size: cover;
		height: 300px;
}
.insta4 {
		background-image: image-url("Instagram04.jpg"); background-size: cover;
		height: 300px;
}
.insta-card {
	background-color: $beige;
	height: 600px;
	overflow: scroll;
	border: 10px solid $blue;
	color: $red;
	padding: 10px;
}
