@import "font-awesome";
@import "bootstrap";

$red: #F04E31;
$orange: #F9A46C;
$blue: #A0D7EF;
$beige: #FEFBEE;
$driod: 'Droid Serif', serif;
$quick: 'Quicksand', sans-serif;

body {
	padding: 0;
	margin: 0;
  font-family: $quick;
}

section {
	height:100vh;
	padding: 500px;
}

#youtube {
	border: 10px ridge $orange;
}

#brand a {
	color: $red;
	font-family: $driod;
	text-decoration: none;
}

.bg1 { background: image-url("sock1.jpg") no-repeat 50% 0; background-size: cover; }
.bg2 { background-color: $orange; color: white;}
.bg3 { background: image-url("sock2.jpg") no-repeat 50% 0; background-size: cover;  }
.bg4 { background-color: $orange; color: white;}
.bg5 { background-image: image-url("sock3.jpg"); background-size: cover;  background-position: right !important;  }

.bg1, .bg2, .bg3, .bg4, .bg5 {
	height:100vh;
	padding: 0;
	background-attachment: fixed;

	.down {
		position: absolute;
		bottom: 0;
		right: 48%;
		color: $red;
		a {
			color: $red;
		}
	}
}

h2 {
	padding-top: 60px;
	padding-bottom: 45px;
	font-family: $driod;
	font-size: 3em;
	border-bottom: 2px solid white;
}

////////////////////////////////////////////
// nav
////////////////////////////////////////////

/*----------------------
----Navigation Styles---
------------------------*/
#main-nav .navbar-toggle{
    border:1px solid rgba(255,255,255,0.5);
    border-radius:0;
}

#main-nav .icon-bar {
    background:#fff;
}

.navbar-nav {
    float:none;
    text-align:center;
}

#main-nav .navbar-nav li {
    display:inline-block;
    float:none;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    position:relative;
    font-size:42px;
    line-height:54px;
    font-family: $driod;
    font-weight:600;
    color:#777;
    font-variant:small-caps;
    height:auto;
    -webkit-transition:font-size .2s ease-out;
    transition:font-size .2s ease-out;
    overflow:hidden;
}

#main-nav{
    background:transparent;
    -webkit-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out;
}

#main-nav .navbar-toggle{
    color:$red;
    border-color:$red;
}

#main-nav .navbar-toggle .icon-bar{
    background:$red;
}

#main-nav .container{

    -webkit-transition:padding 0.3s ease-out;
    transition:padding 0.3s ease-out;
}

#main-nav.scrolled {
    background:#fff;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
}

#main-nav.scrolled .container{
    padding:0;
}

#main-nav .nav a{
    position:relative;
    z-index:1;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover{
    font-size:15px;
    line-height:54px;
    font-weight:700;
    text-transform:uppercase;
    background:transparent;
    color:transparent;
}

#main-nav.scrolled .nav a{
    color:inherit; 
}

#main-nav li{
    background:transparent;
    margin:0 20px;
    opacity:0.7;
    vertical-align:middle;
    -webkit-transition:opacity 0.2s ease-out;
    transition:opacity 0.2s ease-out;
}

#main-nav .nav li.active,
#main-nav .nav li:hover{
    opacity:1;
}
#main-nav .dropdown-menu a{
    font-size:14px;
}

#main-nav .nav a:before {
    display:block;
    position:absolute;
    bottom:0;
    left:25%;
    content:"";
    width:50%;
    height:3px;
    background:#fff;
    z-index:-1;
    opacity:0;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

#main-nav.scrolled .nav a:before {
    background-color: $orange;
}

#main-nav .nav a:hover:before,
#main-nav .nav .active a:before {
    // bottom:10px;
    // opacity:1;

}

.no-csstransforms #main-nav .nav a:before {
	display:none;
}

#main-nav #logo{
    opacity:1;
    vertical-align:middle;
}

#main-nav #logo h1{
    font-size:64px;
    font-weight:600;
    text-decoration: none !important;
    -webkit-transition:font-size 0.3s ease-out;
    transition:font-size 0.3s ease-out;
}

#main-nav #logo span{
    font-size:90%;
    position:relative;
    top:15px;
}

#main-nav.scrolled #logo h1{
    font-size:52px;
    text-decoration: none;
    color: $red;
    text-decoration: none;
}

#main-nav .nav #logo a:before {
    display:none;
}

#main-nav.scrolled .nav #logo a:hover {
    color: $red;
       -webkit-transition:color .2s ease-out;
    transition:color .2s ease-out;
}

#site-nav {
	color: red;

	a {
		text-decoration: none;
	}
}
////////////////////////////////////////////
// about
////////////////////////////////////////////
#about {
	
	height: 100%;

	h3 {
		font-family: $driod;
		font-size: 4em;
		padding: 30px;
	}

	p {
		font-size: 2em;
		padding: 0px 200px 0px 200px;
	}
}

////////////////////////////////////////////
// socks
////////////////////////////////////////////
#socks {
	
	height: 100%;
	padding: 10px;
	font-size: 1.1em;

}

////////////////////////////////////////////
// subscribe
////////////////////////////////////////////
#subscribe {
	height: 100%;
	.content-box {
		width: 50%;
		margin: auto;
		border: 10px ridge $orange;
		background-color: $beige;
		padding: 30px;
	}

	.sub-right {
		padding-left: 25px;
		height: 360px;
		
		input {
			width: 100%;
			padding-right: 20px;
		}

		.btn {
			border: none;
			background-color: $orange;
			color: white;
			padding: 10px;
			text-shadow: none;
		}

		label {
			color: $red;
		}
	}
	.sub-left {
		border-right: 3px ridge $orange;
		height: 370px;
		h1 {
			padding-top: 45%;
			color: $red;
			vertical-align: middle;
			padding-right: 20px; 
		}
	}	
}
