@import "font-awesome";
@import "bootstrap";
@font-face {
	font-family: 'Avenir';
	src: font-url('avenir.ttc') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$red: #f37453;
$orange: #0a3542;
$blue: #0a3542;
$beige: #FEFBEE;
$driod: 'Montserrat', sans-serif;
$quick: 'Avenir';
$green: #90C695;

body {
	padding: 0;
	margin: 0;
  font-family: $quick;
  background-color: $blue !important;
  overflow-x: hidden;
}
#top {
	height: 100vh;
}

.clear {
	clear: both;
}


#brand a {
	color: $red;
	font-family: $quick;
	text-decoration: none;

}

.pattern {
	height: 100px;
	background-image: image-url('tile2.png');
}

.pattern1 {
	height: 100px;
	background-image: image-url('tile1.png');
}

.bg1 { background: image-url("background1.jpg") no-repeat 50% 0; background-size: cover; height: 100%; width: 100%; overflow:hidden;}
.bg2 { background-color: $red; color: $blue; padding: 50px !important;}
.bg3 { background-color: $blue; color: white;

p {
	padding-bottom: 100px !important;
	padding-top: 100px !important;

} }
.bg4 { background-color: $orange; color: white; p {
	padding-bottom: 100px !important;
	padding-top: 100px !important;

} }
.bg5 { background-color: $red; color: white;}
.bg6 { background-color: $blue; color: $orange;}
.bg7 { background-color: $orange; color: white;}
.bg8 { background: image-url('background4.jpg') no-repeat top center fixed; height: 450px;}

.bg9 { background-image: image-url("sock5.png"); background-position: center; height: 300px; width: 200px; background-color: $blue; border: 5px solid $orange; margin: 20px;  }
.coolpic { background: image-url("blue2.jpg") 0 0; background-size: cover; height: 620px; border: 5px solid $red;}
.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7 {
	padding: 0;
	background-attachment: fixed;
	font-family: 	$quick;
}

h2 {
	padding-top: 70px;
	margin: 0 !important;
	padding-bottom: 5px;
	line-height: 120%;
	font-family: $quick;
	font-size: 6em;
}
.bg6, .bg7  {
	height: 100%;
}



////////////////////////////////////////////
// nav
////////////////////////////////////////////

/*----------------------
----Navigation Styles---
------------------------*/

#buy {
    border: 15px solid $red;
  }


#main-nav {
	width: 100% !important;
}

#main-nav .navbar-nav li {
    display:inline-block;
    float:none;

}

#main-nav{
    -webkit-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out;
}

#main-nav .navbar-toggle{
    color:$red;
    border-color:$red;
}

#main-nav .navbar-toggle .icon-bar{
    background-color: $blue;
}

.scrolled {
	background-color: $blue;
}

#main-nav .nav a{
    position:relative;
    z-index:1;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover{
    font-size:15px;
    line-height:44px;
    font-weight: 900;
    font-family: $quick;
    text-transform:uppercase;
    background:transparent;
    color: $red;
}

#main-nav.scrolled .nav a{
    color:inherit; 
}

#main-nav li{
    vertical-align:middle;
    -webkit-transition:opacity 0.2s ease-out;
    transition:opacity 0.2s ease-out;
}

#main-nav .nav li.active,
#main-nav .nav li:hover{
    opacity:1;
}

 #logo  {
	background-color: red;
}
#main-nav .nav #logo a:before {
    display:none;
}


#site-nav {
	color: $red;

	a {
		text-decoration: none;
	}
}
////////////////////////////////////////////
// opening
////////////////////////////////////////////


////////////////////////////////////////////
// opening
////////////////////////////////////////////
.content-box {
		width: 60%;
		margin: auto;
		padding: 15px;
		padding-bottom: 20px;
		background-color: $blue;

		h1 {
			color: $red;
			font-size: 6em;
			font-weight: 800;
			background-color: $blue;
		}

		h3 {
			font-size: 2em;
			font-weight: 800;
			color: $green;
			background-color: $blue;
			padding: 10px;
		}

		p {
			font-size: 1.2em;

		}

	}

.open-arrow {
	position: absolute;
	bottom: 0;
	margin: auto;
	right: 47%;
	font-size: 6em;
	
  a {
  	color: $red;

  	&:hover {
		 	transition: all 1s;
		 	color: $red;
		 	bottom: -25px;
		 }
  }
 
}

.thankyou {
	font-family: $quick;
}
	////////////////////////////////////////////
// about
////////////////////////////////////////////

#about {

}

.about {
	
	
	h3 {
		
		font-family: $quick;
		font-size: 3.5em;
		padding: 30px;
	}

	h4 {
		font-size: 2em;
	}

	p {
			color: black;
	}

}

.intro {

	padding: 15px;
	color: white;
	background-color: $blue;
	color: $red;
	 hr {
	 	color: $red;
	 }

	 img {
	 	border: 5px solid $orange;
		background-color: $blue;
	 }

	p {
		padding: 15px;
		font-size: 2.5em;
		
	}
}
.info {
	font-size: 4em;
	color: $red !important;
	font-family: $quick;
	font-weight: 900;
	text-align: center;
	line-height: 450px;
}

.circle-num {
	margin: auto;
	background-color: $beige;
	font-size: 3.5em;
	color: $blue;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 10px solid #90C695;
	text-align: center;
}

.sock-quality {
	margin: auto;
	background-color: white;
	padding-top: 5%;
	color: $blue;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	border: 10px solid #90C695;
	background-color: $beige;
	color: $blue;

	p {
		width: 75%;
		margin-top: 10px;
		margin: auto;
		font-size: 1.2em;
		color: black;
	}
}

.sock-list {
	height: 100%;
	padding: 10px;
	color: white;
	background-color: $blue;
	border-radius: 15px;

	p {
		padding: 15px;
		font-size: 2em;
	}
}


#instagram {

	h3 {
		line-height: 130%;
		padding-left: 5px;
		padding-bottom: 5px;
	}
	
}
////////////////////////////////////////////
// socks
////////////////////////////////////////////
#socks {
	
	height: 100%;
	padding: 10px;
	font-size: 1.1em;

	h3 {
		font-family: $quick;
		font-size: 4em;
		padding: 30px;
	}

}

////////////////////////////////////////////
// subscribe
////////////////////////////////////////////


#subscribe {
	height: 100%;
	padding: 100px;
	color: $red;

	.content-box {
		width: 90%;
		margin: auto;
		border: 10px solid $green;
		background-color: $beige;
		padding: 30px;
	}

	
	
		
		input {
			width: 50%;
			padding-right: 20px;
		}

		a {
			border: none;
			background-color: $beige;
			color: #2ECC71;
			border: 2px solid #2ECC71;
			padding: 10px;
			text-shadow: none;
			margin-top: 5px;
			border-radius: 70px;
			box-shadow: 1px 1px 1px black;
			font-size: 0.9em;

			&:hover {
				background-color: #2ECC71;
				color: white;
				transition: all 1.5s;
			}
		}


		label {
			color: $red;
		}

		p {
			color: black;
			font-family: 'Raleway', sans-serif;
		}
	


	.sub-list {
		background-color: $orange;
		color: white;
		border-radius: 20px;
		width: 250px !important;
		padding: 10px;
		font-size: 1.1em;

		.fa {
			color: $red;
		}
	}

}

////////////////////////////////////////////
// FAQ
////////////////////////////////////////////

.faq-circle {
	background-color: $blue;
	margin: auto;
	text-align: left;
	height: 100px;

	h4 {
		padding-bottom: 5px;
		padding-top: 15px;
		color: $red;
	}

	p {
		color: white;
		height: 60px;
	}
}

////////////////////////////////////////////
// footer
////////////////////////////////////////////
footer p a{
	text-decoration: none;
	color: white;

	&:hover {
		color: $red;
	}
}

footer {
	color: white;
	font-family: 'Raleway', sans-serif;
	background-color: $orange;
}

footer h3 {
	color: $red;
}

footer .link-times {
	text-decoration: none;
	color: white;

	&:hover {
		color: $red;
	}
}

.insta1 {
		background-image: image-url("Instagram01.jpg"); background-size: cover;
		height: 300px;
}
.insta2 {
		background-image: image-url("Instagram02.jpg"); background-size: cover;
		height: 300px;
}
.insta3 {
		background-image: image-url("Instagram03.jpg"); background-size: cover;
		height: 300px;
}
.insta4 {
		background-image: image-url("Instagram04.jpg"); background-size: cover;
		height: 300px;
}
.insta-card {
	background-color: $beige;
	height: 600px;
	width: 350px;
	margin: auto;
	border-radius: 15px;
	overflow: scroll;
	border: 10px solid $blue;
	color: $red;
	padding: 10px;

	h4 {
		color: black;
	}
}

	#faq {
		h2 {
			color: white;
		}
		p {
			color: white;
		}
	}

	.bg8 p {
		font-weight: 6em !important; 
	}

	.middle p {
		color: $blue;
		padding: 0;
	}
	.middle {
		padding-bottom: -5px;
	}



#happysocks {
	background-color: $blue;
	padding: 10px;
	border: 10px solid $green;
}