@import "font-awesome";
@import "bootstrap";

$red: #F04E31;
$orange: #F9A46C;
$blue: #A0D7EF;
$beige: #FEFBEE;
$driod: 'Droid Serif', serif;
$quick: 'Quicksand', sans-serif;

body {
	padding: 0;
	margin: 0;
  font-family: $driod;
  background-color: $orange;
}

.clear {
	clear: both;
}

section {
	height:100vh;
	padding: 500px;
}

#youtube {
	border: 20px solid $orange;
}

#brand a {
	color: $red;
	font-family: $driod;
	text-decoration: none;
}

.bg1 { background: image-url("sock1.jpg") no-repeat 50% 0; background-size: cover; }
.bg2 { background-color: $orange; color: white;}
.bg3 { background: image-url("sock2.jpg") no-repeat 50% 0; background-size: cover;  }
.bg4 { background-color: $orange; color: white;}
.bg5 { background-image: image-url("sock3.jpg"); background-size: cover;  background-position: right !important;  }
.bg6 { background-color: #A0D7EF; color: $orange;}
.bg7 { background-color: $orange; color: white;}

.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7 {
	height:100vh;
	padding: 0;
	background-attachment: fixed;

	.down {
		position: absolute;
		bottom: 0;
		right: 48%;
		color: $red;
		a {
			color: $red;
		}
	}
}

h2 {
	padding-top: 80px;
	padding-bottom: 45px;
	font-family: $driod;
	font-size: 6em;
	border-bottom: 20px solid $blue;
}
.bg6, .bg7  {
	height: 100%;
}

.faq-circle {
	background-color: $beige;
	border: 10px solid $orange;
	height: 300px;
	width: 300px;
	margin: auto;
	border-radius: 150px;
	padding-top: 60px; 

	h4 {
		width: 60%;
		margin: auto;
		padding-bottom: 30px;
		color: $red;
	}

	p {
		width: 90%;
		margin: auto;
	}
}
////////////////////////////////////////////
// nav
////////////////////////////////////////////

/*----------------------
----Navigation Styles---
------------------------*/
#vid-container {
		width: 50%; 
		margin: auto;
		position: absolute;
		top: 80px;
		left: 25%;
		height: 360px !important;
	}



#main-nav .navbar-nav li {
    display:inline-block;
    float:none;
}

#main-nav{
    background:transparent;
    -webkit-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out;
}

#main-nav .navbar-toggle{
    color:$red;
    border-color:$red;
}

#main-nav .navbar-toggle .icon-bar{
    background:$red;
}

#main-nav .container{

    -webkit-transition:padding 0.3s ease-out;
    transition:padding 0.3s ease-out;
}

#main-nav.scrolled {
    background:#fff;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
}

#main-nav.scrolled .container{
    padding:0;
}

#main-nav .nav a{
    position:relative;
    z-index:1;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover{
    font-size:15px;
    line-height:54px;
    font-weight: 900;
    font-family: $driod;
    text-transform:uppercase;
    background:transparent;
    color:transparent;
}

#main-nav.scrolled .nav a{
    color:inherit; 
}

#main-nav li{
    background:transparent;
    margin:0 20px;
    opacity:0.7;
    vertical-align:middle;
    -webkit-transition:opacity 0.2s ease-out;
    transition:opacity 0.2s ease-out;
}

#main-nav .nav li.active,
#main-nav .nav li:hover{
    opacity:1;
}


#main-nav .nav #logo a:before {
    display:none;
}

#main-nav.scrolled .nav #logo a:hover {
    color: $red;
       -webkit-transition:color .2s ease-out;
    transition:color .2s ease-out;
}

#site-nav {
	color: red;

	a {
		text-decoration: none;
	}
}


////////////////////////////////////////////
// about
////////////////////////////////////////////
#about {
	
	height: 100%;

	h3 {
		font-family: $driod;
		font-size: 4em;
		padding: 30px;
	}

	h4 {
		font-size: 3em;
	}

	p {

	}

}

.circle-num {
	margin: auto;
	background-color: $beige;
	font-size: 6em;
	padding-top: 5%;
	color: $red;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 20px solid $blue;
}

.sock-quality {
	margin: auto;
	background-color: white;
	padding-top: 10%;
	color: $blue;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	border: 20px solid $blue;
	background-color: $beige;
	color: $red;

	p {
		width: 75%;
		margin: auto;
		font-size: 1.2em;
	}
}

////////////////////////////////////////////
// socks
////////////////////////////////////////////
#socks {
	
	height: 100%;
	padding: 10px;
	font-size: 1.1em;

	h3 {
		font-family: $driod;
		font-size: 4em;
		padding: 30px;
	}

}

////////////////////////////////////////////
// subscribe
////////////////////////////////////////////
#subscribe {
	height: 100%;
	color: $orange;
	.content-box {
		width: 50%;
		margin: auto;
		border: 20px solid $orange;
		background-color: $beige;
		padding: 30px;
	}

	.sub-right {
		padding-left: 25px;
		height: 360px;
		
		input {
			width: 100%;
			padding-right: 20px;
		}

		.btn {
			border: none;
			background-color: $orange;
			color: white;
			padding: 10px;
			text-shadow: none;
		}

		label {
			color: $red;
		}
	}
	.sub-left {
		border-right: 10px solid $orange;
		height: 370px;
		h1 {
			padding-top: 45%;
			color: $red;
			vertical-align: middle;
			padding-right: 20px; 
		}
	}	
}

////////////////////////////////////////////
// footer
////////////////////////////////////////////
footer .scroll-link {
	text-decoration: none;
	color: white;
}

footer {
	color: white;
	background-color: $orange;
}

footer h3 {
	color: $red;
}

footer .link-times {
	text-decoration: none;
	color: white;
}

.insta1 {
		background-image: image-url("Instagram01.jpg"); background-size: cover;
}
.insta2 {
		background-image: image-url("Instagram02.jpg"); background-size: cover;
}
.insta3 {
		background-image: image-url("Instagram03.jpg"); background-size: cover;
}
.insta4 {
		background-image: image-url("Instagram04.jpg"); background-size: cover;
}

