@import "bootstrap";
$red: #F04E31;
$orange: #F9A46C;
$blue: #A0D7EF;
$beige: #FEFBEE;

body {
	padding: 0;
	margin: 0;
}

nav {
	display: inline;
	position: fixed;
	

	h1 {
		text-decoration: none;
		padding-left: 20px;
	}

	ul {
		list-style: none;
	}

	.scroll-link {
		text-decoration: none;
		color: $red;
	}

}

section {
	height:100vh;
	padding: 500px;
}

.youtube {
	border: 10px solid $orange;
}

.bg1 { background: url('http://placehold.it/1920x780') no-repeat 50% 0; }
.bg2 { background-color: $orange; color: white;}
.bg3 { background: url('http://placehold.it/1920x780') no-repeat 50% 0; }
.bg4 { background-color: $orange; color: white;}
.bg5 { background: url('http://placehold.it/1920x780') no-repeat 50% 0; }

.bg1, .bg2, .bg3, .bg4, .bg5 {
	height:100vh;
	padding: 0;
	background-attachment: fixed;
}

h2 {
	margin: 0;
	padding-top: 15px;
}

// subscribe
.content-box {
	width: 50%;
	margin: auto;
	border: 10px solid $orange;
	background-color: $beige;
	padding: 30px;
}

.sub-right {
	border-left: 3px solid $orange;
	padding-left: 25px;
	height: 360px;
	
	input {
		width: 100%;
		padding-right: 20px;
	}

	.btn {
		border: none;
		background-color: $orange;
		color: white;
		padding: 10px;
		text-shadow: none;
	}

	label {
		color: $red;
	}
}
.sub-left {
	border-right: 3px solid $orange;
	height: 360px;
	h1 {
		padding-top: 45%;
		color: $red;
		vertical-align: middle;
		padding-right: 20px; 
	}
}