@import "font-awesome";
@import "bootstrap";
@font-face {
	font-family: 'Avenir';
	src: font-url('avenir.ttc') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$red: #f37453;
$orange: #0a3542;
$blue: #0a3542;
$beige: #FEFBEE;
$driod: 'Montserrat', sans-serif;
$quick: 'Avenir';
$green: #90C695;

body {
	padding: 0;
	margin: 0;
  font-family: $quick;
  background-color: white !important;
  overflow-x: hidden;
}
#top {
	height: 100vh;
}

.clear {
	clear: both;
}


#brand a {
	color: $red;
	font-family: $quick;
	text-decoration: none;

}

.pattern {
	height: 100px;
	background-image: image-url('tile2.png');
}

.pattern1 {
	height: 100px;
	background-image: image-url('tile1.png');
}

.bg1 { background: image-url("background1.jpg") no-repeat 50% 0; background-size: cover; height: 100%; width: 100%; overflow:hidden;}
.bg2 { background-color: white; background-size: cover; color: $blue; margin-bottom: 50px;}
.bg3 { background-color: white; color: white;

p {

	width: 80%;
	padding-bottom: 40px;
	margin: auto;

} }
.bg4 { padding-bottom: 60px; background-color: white; color: white; p {
	padding-bottom: 50px !important;
	padding-top: 70px !important;

} }
.bg5 { background-color: white; color: white;}

.bg8 { background: image-url('background4.jpg') no-repeat top center fixed; height: 450px;}
.bg10 { background: image-url('photo7.jpg') no-repeat top center fixed; height: 450px;}
.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7 {
	padding: 0;
	background-attachment: fixed;
	font-family: 	$quick;
}

h2 {
	padding-top: 40px;
	margin: 0 !important;
	padding-bottom: 5px;
	line-height: 120%;
	font-family: $quick;
	font-size: 6em;
}
.bg6, .bg7  {
	height: 100%;
}



////////////////////////////////////////////
// nav
////////////////////////////////////////////

/*----------------------
----Navigation Styles---
------------------------*/


#main-nav {
	width: 100% !important;
}

#main-nav .navbar-nav li {
    display:inline-block;
    float:none;

}

#main-nav{
    -webkit-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out;
}

#main-nav .navbar-toggle{
    color:$red;
    border-color:$red;
}

#main-nav .navbar-toggle .icon-bar{
    background-color: $blue;
}

.scrolled {
	background-color: $blue;
}

#main-nav .nav a{
    position:relative;
    z-index:1;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover{
    font-size:15px;
    line-height:44px;
    font-weight: 900;
    font-family: $quick;
    text-transform:uppercase;
    background:transparent;
    color: $red;
}

#main-nav.scrolled .nav a{
    color:inherit; 
}

#main-nav li{
    vertical-align:middle;
    -webkit-transition:opacity 0.2s ease-out;
    transition:opacity 0.2s ease-out;
}

#main-nav .nav li.active,
#main-nav .nav li:hover{
    opacity:1;
}

 #logo  {
	background-color: red;
}
#main-nav .nav #logo a:before {
    display:none;
}


#site-nav {
	color: $red;

	a {
		text-decoration: none;
	}
}


////////////////////////////////////////////
// opening
////////////////////////////////////////////
.content-box {
		width: 60%;
		margin: auto;
		padding: 15px;
		padding-bottom: 20px;
		background-color: $blue;

		h1 {
			color: $red;
			font-size: 4em;
			font-weight: 800;
			background-color: $blue;
		}

		h3 {
			font-size: 2em;
			font-weight: 800;
			color: $green;
			background-color: $blue;
			padding: 10px;
		}

		p {
			font-size: 1.2em;

		}

	}

.open-arrow {
	position: absolute;
	bottom: -5px;
	margin: auto;
	right: 47%;
	font-size: 6em;
	
  a {
  	color: $green;
  	&:hover {
		 	transition: all 1s;
		 	color: $green;
		 	bottom: -25px;
		 }
  }
 
}


.info {
	font-size: 4em;
	color: $red !important;
	font-family: $quick;
	font-weight: 900;
	text-align: center;
	line-height: 450px;
	
	a {
		border: 2px solid $red;
		text-decoration: none;
		color: white !important;
		padding: 15px 60px 15px 60px;
		border-radius: 60px;
		background-color: $red;

		&:hover {
			transition: 2s all;
			text-decoration: none;
			background-color: $blue;
			
		}	
	}
}

.circle-num {
	margin: auto;
	font-size: 3.5em;
	color: $red;
	width: 50%;
	text-align: center;
}

.sock-quality {
	

	h3 {
		color: $red;
	}

	p {
		
		font-size: 1.2em;
		color: $blue;
	}
}

.sock-list {
	height: 100%;
	color: white;
	border-radius: 15px;

	p {
		font-size: 2em;
		color: $blue;
		text-align: center;
		width: 70%;
		margin: auto;
	}
}


////////////////////////////////////////////
// subscribe
////////////////////////////////////////////


#subscribe {
	height: 100%;
	color: $red;

	.content-box {
		width: 75%;
		margin: auto;
		
		background-color: $blue;
		margin-bottom: 50px;
	}

		input {
			width: 50%;
			padding-right: 20px;
		}

		a {
			border: none;
			background-color: $blue;
			color: #2ECC71;
			border: 2px solid #2ECC71;
			padding: 10px;
			text-shadow: none;
			margin-top: 5px;
			border-radius: 70px;

			font-size: 0.9em;

			&:hover {
				background-color: #2ECC71;
				color: white;
				transition: all 1.5s;
			}
		}

		p {
			font-size: 1.5em;
			color: $green;
			font-family: 'Raleway', sans-serif;
		}

}



////////////////////////////////////////////
// footer
////////////////////////////////////////////
footer a{
	text-decoration: none;
	color: $green;
	&:hover {
		color: $red;
	}
}

footer {
	color: $green;
	font-family: 'Raleway', sans-serif;
	background-color: $orange;
}

footer h3 {
	color: $red;
}

footer .link-times {
	text-decoration: none;
	color: $green;

	&:hover {
		color: $red;
	}
}

.insta1 {
		background-image: image-url("Instagram01.jpg"); background-size: cover;
		height: 300px;
}
.insta2 {
		background-image: image-url("Instagram02.jpg"); background-size: cover;
		height: 300px;
}
.insta3 {
		background-image: image-url("Instagram03.jpg"); background-size: cover;
		height: 300px;
}
.insta4 {
		background-image: image-url("Instagram04.jpg"); background-size: cover;
		height: 300px;
}
.insta-card {
	background-color: $beige;
	height: 600px;
	width: 350px;
	margin: auto;
	border-radius: 15px;
	overflow: scroll;
	border: 10px solid $blue;
	color: $red;
	padding: 10px;

	h4 {
		color: black;
	}
}

	#faq {
		h4 {
			color: $red;
			padding-top: 10px;
			padding-bottom: 5px;
		}
		p {
			color: $blue 1;
		}
	}

	.bg8 p {
		font-weight: 6em !important; 
	}

	.middle p {
		color: $blue;
		padding: 0;
	}
	.middle {
		padding-bottom: -5px;
	}



#happysocks {
	/*background-color: $blue;*/
	padding: 10px;
	
	a {
		text-shadow: 2px 2px 2px black;
	}
}

.buttonChange {
	background-color: #2ECC71;
				color: white;
				transition: all 1.5s;
}