@import "font-awesome";
@import "bootstrap";

$red: #f37453;
$orange: #0a3542;
$blue: #0a3542;
$beige: #FEFBEE;
$green: #90C695;

.thankyou {
	color: $blue;
	padding-top: 15px;
}

.insta-cta {
	width: 55%;
	margin: auto;
	text-align: left;
	background-color: $beige;
	color: $blue;
	border-radius: 15px;
	padding: 15px;
	ol {
		font-size: 2em;
		width: 80%;
		margin: auto;
	}	
		li {
			padding: 10px;
			border-radius: 15px;
			
		}
		.btn {
		border: none;
		background-color: $orange;
		color: white;
		padding: 10px 0 10px 0;
		width: 80%;
		text-shadow: none;
		margin: auto;

		&:hover {
			padding: 15px;
			background-color: $red;
			transition: all 2s;
		}
	}
}

#gift {
	height: 100vh;
	background: image-url("backgroundgift.jpg") no-repeat 50% 0; 
	width: 100%; 
	overflow:hidden;

	.opening {
		width: 50%;
		margin: auto;
		padding: 15px;
		padding-bottom: 20px;
		background-color: $blue;

		h1 {
			color: $red;
			font-size: 3em;
			font-weight: 800;
			
		}

		h3 {
			font-size: 1.5sem;
			font-weight: 800;
			color: $green;
	
			padding: 10px;
		}

	}

}


#gift ul li {
	display: inline-block;
	font-size: 1.5em;
	width: 150px;
}

#gift ul li a {
	text-decoration: none;
	width: 120px;
}

#gift h3 {
	color: $blue;
	padding-top: 20px;
	font-size: 2em;
}

.bg11 { background: image-url('HSgirl.jpg') no-repeat top center fixed; height: 450px;}

