@import "font-awesome";
@import "bootstrap";

$red: #f37453;
$orange: #0a3542;
$blue: #0a3542;
$beige: #FEFBEE;

.thankyou {
	color: white;
	padding-top: 15px;
	background-color: $blue;
}

.insta-cta {
	width: 55%;
	margin: auto;
	text-align: left;
	background-color: $beige;
	color: $blue;
	border-radius: 15px;
	padding: 15px;
	ol {
		font-size: 2em;
		width: 80%;
		margin: auto;
	}	
		li {
			padding: 10px;
			border-radius: 15px;
			
		}
		.btn {
		border: none;
		background-color: $orange;
		color: white;
		padding: 10px 0 10px 0;
		width: 80%;
		text-shadow: none;
		margin: auto;

		&:hover {
			padding: 15px;
			background-color: $red;
			transition: all 2s;
		}
	}
}

