<footer id='contact'>
  <div class='container'>
    <br>
    <hr>
    <div class='row'>
      <div class='col-md-3'>
        <h3>Navigate</h3>
        <p><a style='text-decoration: none; color: white;' href="/instagram">instagram</a></p>
        <p><a style='text-decoration: none; color: white;' href="/faq">FAQ</a></p>
        <p><a style='text-decoration: none; color: white;' href="/#subscribe">subscribe</a></p>
      </div>
      <div class='col-md-3'>
        <h3>Legal</h3>
        <p><%= link_to 'Terms and Conditions', terms_path, class: 'link-times' %></p>
        <p><%= link_to 'Privacy Policy', privacy_path, class: 'link-times' %></p>
      </div>
      <div class='col-md-3'>
        <h3>Contact</h3>
        <p><i class='fa fa-facebook-square fa-4x'></i>
           <i class='fa fa-twitter-square fa-4x'></i> <i class='fa fa-instagram fa-4x'></i></p>
        <p></p>   
      </div>
      <div class='col-md-3'>
        <h3>Payment</h3>
        <p><i class='fa  fa-cc-mastercard fa-3x'></i></p>
        <p><i class='fa  fa-cc-visa fa-3x'></i></p>
        <p><i class='fa  fa-cc-discover fa-3x'></i></p>
      </div>
    </div>
      <hr>
      <p class='text-center'>Copyright © 2014. All rights reserved.</p>
      <br>
  </div>  

</footer>