<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">

	

</head>
<body style="margin: 0 auto; padding: 0; -webkit-text-size-adjust: none;">
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
<td align="center" valign="top" style="padding: 0px; color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
<table width="580" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" class="table-centered" style="margin: 0 auto;">
<tr>
<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">

	
<!-- Header -->
<table border="0" cellspacing="0" cellpadding="0" class="header" style="background-color: #0a3542; width: 580px;">
	<tr>
		<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left;">&nbsp;</td>
	</tr>
	<tr> 
		<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
			<table border="0" cellspacing="0" cellpadding="0" class="header" style="background-color: #0a3542; width: 580px;">
				<tr>
					<td class="header-text" style="color: #f37453; font-family: Arial, Helvetica, sans-serif; font-size: 30px; padding: 10px; line-height: 28px; font-weight: bold; text-align: center;">
						Sock and Box
					</td>
				</tr>
				<tr>
					<td class="header-text" style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding: 10px; line-height: 28px; font-weight: bold; text-align: center;">
						Comfortable socks that look great, delivered monthly.
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="header-divider">
	
		<tr>
			<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 12px; text-align: left; background-color: #f37453; width: 580px;">&nbsp;</td>
		</tr>
		<tr>
			<td>
					<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="padding-large" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						Thank you so much! 
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; color: white;">
						You just started your sock journey with us. Please email us at hello@sockandbox.com or ask a question <a href="http://www.sockandbox.com/faq">here</a>.
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; color: white;">
						<a href="http://www.sockandbox.com/purchases/f3847014-f4ca-43f5-bd5f-0c230fc30737">If you know someone who would enjoy this let us know an we'll send them an<a href="http://www.sockandbox.com/purchases/f3847014-f4ca-43f5-bd5f-0c230fc30737"></a>email.</a>
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 12px; text-align: left; background-color: #f37453; width: 580px;">&nbsp;</td>
		</tr>
</table>
</td>
</tr>
</table>
</body>
</html>