<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">

	

</head>
<body style="margin: 0 auto; padding: 0; -webkit-text-size-adjust: none;">
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
<td align="center" valign="top" style="padding: 0px; color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
<table width="580" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" class="table-centered" style="margin: 0 auto;">
<tr>
<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">

	
<!-- Header -->
<table border="0" cellspacing="0" cellpadding="0" class="header" style="background-color: #0a3542; width: 580px;">
	<tr>
		<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left;">&nbsp;</td>
	</tr>
	<tr> 
		<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
			<table border="0" cellspacing="0" cellpadding="0" class="header" style="background-color: #0a3542; width: 580px;">
				<tr>
					<td class="header-text" style="color: #f37453; font-family: Arial, Helvetica, sans-serif; font-size: 30px; padding: 10px; line-height: 28px; font-weight: bold; text-align: center;">
						Sock and Box
					</td>
				</tr>
				<tr>
					<td class="header-text" style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding: 10px; line-height: 28px; font-weight: bold; text-align: center;">
						Comfortable socks that look great, delivered monthly.
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="header-divider">
	
		<tr>
			<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 12px; text-align: left; background-color: #f37453; width: 580px;">&nbsp;</td>
		</tr>
		<tr>
			<td><%= image_tag attachments['photocool.png'].url %></td>
		</tr>
		<tr>
			<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 12px; text-align: left; background-color: #f37453; width: 580px;">&nbsp;</td>
		</tr>
</table>

<!-- Body -->
<table border="0" cellspacing="0" cellpadding="0" style='background-color: #0a3542;'>
	<tr>
		<td class="left-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 39px;"></td>
		<td class="content" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 550px;">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="padding-large" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						One pair of socks delivered once a month
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; color: white;">
						Colourful socks have recently become popular among the fashion conscious. There is a pair of high-quality socks for every occasion, mindset and style!
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; color: white;">
						You’ll never get the same pair twice and we promise you will love the pair you get – if you don’t, send em back and we’ll get you a fresh design!
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td class="padding-large" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px; text-align: left;">&nbsp;</td>
				</tr>
			</table>
			<table border="0" cellspacing="0" cellpadding="0">
				
				<tr>
					<td><%= image_tag attachments['happysocks2.png'].url %></td>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						1. Let us know your shipping info and we will send you a pair of our socks monthly.
					</td>
				</tr>
				<tr>
					<td><%= image_tag attachments['happysocks5.png'].url %></td>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						2. We'll get the socks to you in 5-10 business days. Shipping is free of charge.
					</td>
				</tr>
				<tr>
					<td><%= image_tag attachments['happysocks3.png'].url %></td>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						3. Feel great by slipping on your fresh, new, fancy socks!
					</td>
				</tr>
				
				<tr>
					<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; height: 15px; text-align: left; background-color: #0a3542;">&nbsp;</td>
				</tr>
			</table>
			<table border="0" cellspacing="0" cellpadding="0" style='background-color: #fefbee;  border-radius: 15px; padding: 10px;'>
				<tr>
					<td style='height: 10px;'></td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; width: 500px; font-size: 26px; text-align: center;">
					 Subscribe now for only $14.99 a month!
					</td>
				</tr>
				<tr>
					<td style='height: 10px;'></td>
				</tr>
				<tr>
					<td>
						<table border="0" cellspacing="0" cellpadding="0" style='background-color: #0a3542; border-radius: 15px; padding: 15px;' align='center' width='200'>
							<tr><td style='height: 10px;'></td></tr>
							<tr>
								<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-size: 19px; text-align: center; padding-bottom: 5px;">
						<a style='color: #f37453; text-decoration: none;' href="http://www.sockandbox.com/#sock-start">subscribe</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style='height: 15px;'>&nbsp;</td>
				</tr>
			</table>
		</td>
		<td class="right-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 36px;">&nbsp;</td>
	</tr>
</table>
</td>
</tr>
</table>
</body>
</html>